.checkBoxesContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1em;
    color: #fff;
}

/* please text a look at css selectors */
.checkBoxesContainer > div {
    margin: 0 2em 0 0;
}
